.bukvar {
    height: 500px;
}

.intro {
    margin-top: 50px;
}

.intro-text {
    word-break: break-word;
}

.intro-img {
    width: 300px;
}

.offer, .after, .choose {
    margin-top: 50px;
}

.years {
    font-size: 30px;
    font-weight: bold;
}

.edu1 {
    height:60px;
}

.circle {
    border-radius: 100%;
    height: 250px;
    width: 280px;
    background-color: yellow;
}

.partners {
    margin-top: 100px;
}

.partners-img {
    /* width: 200px; */
    height: 150px;
    margin-top: 30px;
}

.offer-img {
    width: 100px;
    height: 100px;
}

.edu-program {
    margin-top: 60px;
}

.album {
    margin-top: 300px;
}

.album-photo {
    height: 300px;
    width: 400px;
}

.dark {
    background-color: rgba(255, 255, 255);
}

body {
    transition: all 1s;
}

html {
    overflow-x: hidden;
    scroll-behavior: auto;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding-top: 20px;
}

.contacts {
    margin-top: -250px;
}

body {
    overflow-x: hidden;
    z-index: 1;
}

#navb {
    padding-left: 20px;
    padding-bottom: 15px;
}

.navbar-nav {
    width: 100%;
}

.concc {
    width: 300px;
    max-height: 50px;
    border-radius: 25px;
    color: white;
    transition: all 1s;
}

.concc:hover {
    border-radius: 5px
}

body {
    overflow-x: hidden;

}

.concc1 {
    width: 200px;
    max-height: 65px;
    border-radius: 25px;
    color: white;
    transition: all 1s;
    background-color: #F83636;
}

.concc1:hover {
    border-radius: 5px
}

#first-img, #second-img, #third-img, #first-program, #second-program, #third-program {
    transition: all 1s;
}

#shant1, #shant2, #shant3,#shant4,#shant5,#shant6 {
    z-index: 3;
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 265px;
    background-color: black;
    color: white;
    opacity: 0.8;
    padding:6px;
    font-size:14px;
}
#partner1,#partner2,#partner3,#partner4{
    filter:grayscale(100%);
    transition: filter 0.3s;
}

.contacts-inner {
    z-index: 1;
    width: 300px;
    position: relative;
    top: 400px;
    left: 3%;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.back {
    background-size: 100%;
    background-repeat: no-repeat;
}

.invi {
    display: none;
}

@media screen and (min-width: 1200px) {
    .container-fluid {
        padding: 0;
        margin: 0;
    }

}
@media screen and (max-width: 480px){

    .scrolling {
        overflow-x: scroll;
    }
}
nav::-webkit-scrollbar{
    width:3px;
}
@media screen and (min-width: 992px) {
    .invi {
        display: block;
    }

}
/*.kal{*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    background: rgba(0,0,0,.6);*/
/*    z-index: 1000;*/
/*}*/